<section id="distributed-program" class="section-card distributed-program" aria-label="Speakers at CodeLand 2021">
  <div class="mask"></div>
  <div class="section-container">
    <header>
      <h2 class="headline-display">Who's Speaking at CodeLand?</h2>
    </header>
    <div class="section-container speaker-overviews">
    <h2 id="keynotes">Keynote Speakers</h2>
    <% data.talks.speakers.each do |speaker| %>
      <% if speaker.talk_type == "keynote" %>
        <div class="keynote-item">
          <div class="speaker-item--profile">
            <img src="<%= speaker.image_url %>">
          </div>
          <div class="speaker-item--info">
            <h3 class="talk-title">
              <%= speaker.talk_title %>
              <!-- <span class="flare" style="background-color: #FEE6AB">keynote</span> -->
            </h3>
            <h4 class="full-name">
              <%= speaker.full_name %>
            </h4>
            <p class="speaker-bio"><%= speaker.bio %></p>
          </div>
        </div>
      <% else speaker.talk_type == "talk" %>
        <div class="speaker-item">
          <div class="speaker-item--info">
            <h3 class="talk-title">
              <%= speaker.talk_title %>
              <!-- <span class="flare" style="background-color: #E3EFEB">talk</span> -->
            </h3>
            <h4 class="full-name">
              <%= speaker.full_name %>
            </h4>
            <p class="speaker-bio"><%= speaker.bio %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
