<section id="distributed-program" class="section-card distributed-program" aria-label="Speakers at CodeLand 2021">
  <div class="mask"></div>
  <div class="section-container">
    <header>
      <h2 class="headline-display">Who's Speaking at CodeLand?</h2>
    </header>
    <div class="section-container speaker-overviews">
      <h3 class="text-h2" id="keynotes">Keynote Speakers</h2>

      <div class="keynote-item">
        <div class="speaker-item--profile">
          <img
            src="<%= image_path "Gift-Egwuenu.jpg" %>"
            alt="Gift Egwuenu">
        </div>
        <div class="speaker-item--info">
          <h4 class="text-h3 talk-title">
            "One Rule to Rule Them All: Learning in Public"
          </h3>
          <h5 class="text-h4 full-name">
            Gift Egwuenu
          </h5>
          <p class="speaker-bio">Gift Egwuenu is a frontend consultant at Passionate People and a content creator based in Haarlem Netherlands, She loves engaging with and advocating for open and inclusive developer communities and loves sharing her knowledge and experience by creating tech content for developers.</p>
        </div>
      </div>

      <div class="keynote-item">
        <div class="speaker-item--profile">
          <img
            src="<%= image_path "Helen-Sandi.jpg" %>"
            alt="Helen Sandi">
        </div>
        <div class="speaker-item--info">
          <h4 class="text-h3 talk-title">
            "Musical Lessons for Engineering Teams: Developing a Culture of Feedback Cycles"
          </h3>
          <h5 class="text-h4 full-name">
            Helen Sandi
          </h5>
          <p class="speaker-bio"> Helen Sandi is the Director of Open Source Initiatives at 10up and a Lead Developer for the WordPress open source software project, now powering more than 40% of the web. From her start as a PHP/MySQL applications developer to focusing on "the front-end of the back-end" from both the development and UX perspectives, she has a knack for figuring out what people need to get things done on their websites, including most recently on the relaunch of WhiteHouse.gov for the Biden-Harris Administration.</p>
        </div>
      </div>

      <div class="keynote-item">
        <div class="speaker-item--profile">
          <img
            src="<%= image_path "Anna-Lytical.jpg" %>"
            alt="Anna Lytical">
        </div>
        <div class="speaker-item--info">
          <h4 class="text-h3 talk-title">
            "Coding's a Drag"
          </h3>
          <h5 class="text-h4 full-name">
            Anna Lytical
          </h5>
          <p class="speaker-bio">Anna Lytical is a "sickeningly entertaining" coding drag queen who creates fun and educational coding content to engage a young LGBTQ+ audience on TikTok, Twitter, YouTube, and beyond. When not inspiring the next generation of developers with their tutorials and videos, Anna Lytical works at Google as a Developer Experience Engineer.</p>
        </div>
      </div>

      <div class="keynote-item">
        <div class="speaker-item--profile">
          <img
            src="<%= image_path "Ben-Halpern.jpg" %>"
            alt="Ben Halpern">
        </div>
        <div class="speaker-item--info">
          <h4 class="text-h3 talk-title">
            "Taking Back the Internet — Community, Connection, & Code"
          </h3>
          <h5 class="text-h4 full-name">
             Ben Halpern
          </h5>
          <p class="speaker-bio">Ben Halpern is a full stack developer, and the co-founder of and Chief Creative Officer of Forem: the open source community software powering dev.to, CodeNewbie Community, and many others. Every day, Ben goes to work and gets to help make the Internet a more inclusive and constructive place – he can't imagine doing anything else.</p>
        </div>
      </div>

      <% data.talks2021.sort { |a, b| [a[:track], a[:title]] <=> [b[:track], b[:title]] }.group_by { |t| t[:track] }.each do |track, talks| %>
        <div class="track-item">
          <h3 class="text-h2">Track: <%= track %></h3>

          <% talks.each do |talk| %>
            <div class="speaker-item">
              <div class="speaker-item--info">
                <h4 class="text-h3 talk-title">
                  "<%= talk.title %>"
                </h4>
                <% talk[:speakers].each do |speaker| %>
                  <h5 class="text-h4 full-name">
                    <%= speaker.name %>
                  </h5>
                  <p class="speaker-bio"><%= speaker.bio %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</section>
