<footer id="footer" class="section-card footer">
  <div class="section-container">
    <div class="footer-header">
      <div class="footer-title--image">
        <img
          src="<%= imgixUrl("codeland-2021-logo.png", w: 322) %>"
          width="2167"
          height="993"
          alt="CodeLand 2021"
          sizes="(min-width: 675px) 610px,  calc((100vw - 40px) * .96)"
          srcset="
          <%= imgixUrl("codeland-2021-logo.png", w: 322) %> 322w,
          <%= imgixUrl("codeland-2021-logo.png", w: 610) %> 610w,
          <%= imgixUrl("codeland-2021-logo.png", w: 644) %> 644w,
          <%= imgixUrl("codeland-2021-logo.png", w: 966) %> 966w,
          <%= imgixUrl("codeland-2021-logo.png", w: 1220) %> 1220w,
          <%= imgixUrl("codeland-2021-logo.png", w: 1830) %> 1830w
          "
        >
      </div>
      <div class="footer-title--description text-h3">
        Produced by <a href="https://dev.to" target="_blank">DEV</a> and <a href="https://www.codenewbie.org/" target="_blank">CodeNewbie</a>.
      </div>
    </div>
    <div class="section-container--body">
      <div class="footer-body--information">
        <div class="footer-body--about">
          <section class="section-container--block" aria-label="Sponsorship More Info">
            <h2 class="text-h3" id="footerSponsorshipHeader">
              Sponsorship
            </h2>
            <p>
              Fill out our interest form above to receive a copy of the CodeLand sponsorship brochure — or email us at <a href="mailto:sponsors@forem.com" target="_blank">sponsors@forem.com</a> for more info.
            </p>
          </section>
          <section class="section-container--block" aria-labelledby="footerCreditsHeader">
            <h2 class="text-h3" id="footerCreditsHeader">
              Produced by
            </h2>
            <div class="section-container--block">
              <h3 class="image-title landscape">
                <img
                  src="<%= imgixUrl("codenewbie_logo.png", w: 320) %>"
                  width="1252"
                  height="183"
                  alt="CodeNewbie"
                  sizes="(min-width: 260px) 320px,  calc((100vw - 2em)"
                  srcset="
                  <%= imgixUrl("codenewbie_logo.png", w: 320) %> 320w,
                  <%= imgixUrl("codenewbie_logo.png", w: 640) %> 640w,
                  <%= imgixUrl("codenewbie_logo.png", w: 960) %> 960w,
                  "
                >
              </h3>
              <p>
                <a href="https://www.codenewbie.org/" target="_blank">CodeNewbie</a>
                is the most supportive community of programmers and people learning
                to code. We produce content to support people on their coding
                journey.
              </p>
            </div>
            <div class="section-container--block">
              <h3 class="image-title square">
                <img
                  src="<%= imgixUrl("DEV-tilted.png", w: 80) %>"
                  width="80"
                  height="80"
                  alt="DEV"
                  sizes="80px"
                  srcset="
                  <%= imgixUrl("DEV-tilted.png", w: 80) %> 80w,
                  <%= imgixUrl("DEV-tilted.png", w: 160) %> 160w,
                  <%= imgixUrl("DEV-tilted.png", w: 240) %> 240w,
                  "
                >
              </h3>
              <p>
                <a href="https://dev.to" target="_blank">DEV</a> is a
                community of software developers getting together to help one
                another out. The software industry relies on collaboration and
                networked learning. We provide a place for that to happen.
              </p>
            </div>
          </section>
        </div>
        <nav class="footer-body--contact" aria-labelledby="footerContactLinks">
          <h2 class="text-h3" id="footerContactLinks">
            Contact
          </h2>
          <ul>
            <li>
              Twitter: <a href="https://twitter.com/CodeNewbies" target="_blank">@CodeLandConf</a>
            </li>
            <li>
              Email: <a href="mailto:hello@forem.com" target="_blank">hello@forem.com</a>
            </li>
          </ul>
        </nav>
        <nav class="footer-body--links" aria-label="Legal Information">
          <ul>
            <li>
              <a href="/privacy">Privacy Policy</a>
            </li>
            <li>
              <a href="/terms">Terms of Service</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
  </div>
</footer>