<section class="hero-section" aria-label="Introduction to CodeLand 2021">
  <div class="hero-section--container">
    <h1 class="hero-section--image" id="heroHeader">
      <img
        src="<%= image_path "codeland-2021-logo.png", resize: "322" %>"
        width="2167"
        height="993"
        alt="CodeLand 2021"
        sizes="(min-width: 675px) 610px,  calc((100vw - 40px) * .96)"
        srcset="
        <%= image_path "codeland-2021-logo.png", resize: "322" %> 322w,
        <%= image_path "codeland-2021-logo.png", resize: "610" %> 610w,
        <%= image_path "codeland-2021-logo.png", resize: "644" %> 644w,
        <%= image_path "codeland-2021-logo.png", resize: "966" %> 966w,
        <%= image_path "codeland-2021-logo.png", resize: "1220" %> 1220w,
        <%= image_path "codeland-2021-logo.png", resize: "1830" %> 1830w
        "
      >
    </h1>
    <p class="hero-section--description">
      The most welcoming conference for early-career coders and their champions. Produced by <a href="https://www.codenewbie.org/" target="_blank">CodeNewbie</a> and <a href="https://dev.to">DEV</a>, two software communities built on <a href="https://www.forem.com/">Forem.</a>
    </p>
    <p class="hero-section--subtitle">
      Taking place virtually from <br>September 23-24, 2021.
    </p>
    <%= partial "layouts/stickers" %>
  </div>
</section>
