<section id="keynotes" class="section-card keynotes" aria-label="Keynotes at CodeLand 2022">
  <div class="mask"></div>
  <div class="section-container">
    <header>
      <h2 class="headline-display">Keynotes &amp; Fireside Chats</h2>
    </header>
    <div class="speaker-overviews" aria-label="Keynote speakers at CodeLand 2022">

      <% data.keynotes2022.keynotes.each do |keynote| %>
      <div class="keynote-item">
        <div class="speaker-item--profile">
          <img
            src="<%= imgixUrl(keynote.image.path, {w: 365, h: 365, crop: 'faces,center', fit: 'crop'}) %>"
            alt="<%= keynote.name %> profile photo"
            width="<%= keynote.image.width %>"
            height="<%= keynote.image.width %>"
            sizes="(min-width: 1200px) calc((76vw - 2em) * .84 * .2 * .8),  calc((76vw - 2em) * .84 * .5)"
            srcset="
            <%= imgixUrl(keynote.image.path, {w: 365, h: 365, crop: 'faces,center', fit: 'crop'}) %> 365w,
            <%= imgixUrl(keynote.image.path, {w: 730, h: 730, crop: 'faces,center', fit: 'crop'}) %> 730w,
            <%= imgixUrl(keynote.image.path, {w: 1095, h: 1095, crop: 'faces,center', fit: 'crop'}) %> 1095w
            "
          >
        </div>
        <div class="speaker-item--info">
          <% if !keynote.title %>
            <h4 class="text-h3 keynote-item--title">
              <%= keynote.name %>
            </h4>
          <% else %>
            <h4 class="text-h3 keynote-item--title">
              "<%= keynote.title %>"
            </h4>
            <h5 class="text-h4 keynote-item--name">
              <%= keynote.name %>
            </h5>
          <% end %>
          <% if keynote.bio %>
            <div class="speaker-bio keynote-item--bio">
              <%= keynote.bio %>
            </div>
          <% end %>
          <% if keynote.learnMore %>
            <div class="keynote-item--cta">
              <a href="<%= keynote.learnMore %>" class="button button-alt">Learn more here</a>
            </div>
          <% end %>
        </div>

      </div>
      <% end %>

    </div>
  </div>
</section>
