<section id="program" class="wrapper full-program">
  <article class="program-description">
    <h2>Program</h2>
    <p>
      Talks and workshops at this year's Codeland.
    </p>
  </article>
  <div class="program-list day-one">
    <div class="grid">
    <% data.people.speakers.each do |speaker| %>
      <% next if speaker.talk_title == nil %>
      <div class="grid-sizer"></div>
      <div class="program-item grid-item">
        <a href=<%= "/speakers/#{speaker.full_name.gsub(" ", "-").downcase}"%>>
          <article>
            <div class="program-item-summary">
              <p class="program-item-author"><%= speaker.full_name %>
              </p>
              <h3 class="program-item-title"><%= speaker.talk_title %></h3>
              <p><span class="talk-type"><%= speaker.talk_type %></span>
              <% if speaker.category %>
                <span class="talk-category <%=speaker.category.gsub(" ", "-")%>"><%= speaker.category %></span>
              <% end %>
              </p>
            </div>
          </article>
        </a>
      </div>
    <% end %>
    </div>
  </div>
</section>
