<section id="program" class="wrapper program">
  <article class="program-description">
    <h2>Program</h2>
    <p class="program-description">
      Our talks and workshops for 2018. More to be announced soon.
    </p>
    <br>
  </article>
  <article class="program-list">
    <% data.people.speakers[0...13].each do |speaker| %>
      <% next if speaker.role == "co-presenter" %>
      <a href=<%= "/speakers/#{speaker.full_name.gsub(" ", "-").downcase}"%>>
        <article class="program-list_item">
          <p class="program-list_item_title"><%= speaker.talk_title %></p>
          <p class="program-list_item-meta">
          <% if speaker.full_name == "Ebonie Butler" %>
            <span class="program-list_item_speaker"><%= speaker.full_name %>,
            Angela Andrews</span>
            <span class="program-list_item_type"><%= speaker.talk_type %></span>
          <% elsif speaker.full_name == "John Riviello" %>
            <span class="program-list_item_speaker"><%= speaker.full_name %>,
            Chris Lorenzo</span>
            <span class="program-list_item_type"><%= speaker.talk_type %></span>
          <% else %>
            <span class="program-list_item_speaker"><%= speaker.full_name %></span>
            <span class="program-list_item_type"><%= speaker.talk_type %></span>
          <% end %>
          </p>
        </article>
      </a>
    <% end %>
  </article>
  <article class="program-list">
    <% data.people.speakers[14...29].each do |speaker| %>
      <% next if speaker.role == "co-presenter" %>
      <a href=<%= "/speakers/#{speaker.full_name.gsub(" ", "-").downcase}"%>>
        <article class="program-list_item">
          <p class="program-list_item_title"><%= speaker.talk_title %></p>
          <p class="program-list_item-meta">
          <% if speaker.full_name == "Ebonie Butler" %>
            <span class="program-list_item_speaker"><%= speaker.full_name %>,
            Angela Andrews</span>
            <span class="program-list_item_type"><%= speaker.talk_type %></span>
          <% elsif speaker.full_name == "John Riviello" %>
            <span class="program-list_item_speaker"><%= speaker.full_name %>,
            Chris Lorenzo</span>
            <span class="program-list_item_type"><%= speaker.talk_type %></span>
          <% else %>
            <span class="program-list_item_speaker"><%= speaker.full_name %></span>
            <span class="program-list_item_type"><%= speaker.talk_type %></span>
          <% end %>
          </p>
        </article>
      </a>
    <% end %>
  </article>
</section>
