<section id="schedule" class="wrapper schedule">
  <article class="schedule-description">
    <h2>Schedule</h2>
  </article>
  <div class="schedule-day">
    <h3>Friday, April 21 (8AM - 5PM)</h3>
    <% day_one = data.people.speakers.select {|speaker| speaker.day == "1" &&
    speaker.talk_title && speaker.order }.sort_by {|speaker| speaker[:order].to_i }%>
    <article class="schedule-item">
      <p class="start-time"><span>8:00 AM</span>Registration & Breakfast</p>
    </article>
    <article class="schedule-item talks">
      <p class="start-time"><span>8:45 AM</span>Talks</p>
      <p>Welcome<span class="speakers">
      <a href="/speakers/nikhil-paul">Nikhil Paul</a>, 
      Saron Yitbarek</span>
                </p>
      <% day_one[0..2].each do |speaker| %>
        <a href=<%= "/speakers/#{speaker.full_name.gsub(" ", "-").downcase}"%>><p class="schedule-item-title"><%= speaker.talk_title %><span
        class="speakers"><%= speaker.full_name %></span>
      <% if speaker.category %>
        <span class="talk-category <%=speaker.category.gsub(" ", "-")%>"><%= speaker.category %></span>
      <% end %>
        </p></a>
      <% end %>
    </article>
    <article class="schedule-item break">
      <p class="start-time"><span>9:55 AM</span>Morning Break</p>
    </article>
    <article class="schedule-item talks">
      <p class="start-time"><span>10:15 AM</span>Talks</p>
      <% day_one[3..7].each do |speaker| %>
      <a href=<%= "/speakers/#{speaker.full_name.gsub(" ", "-").downcase}"%>><p class="schedule-item-title"><%= speaker.talk_title %><span
      class="speakers"><%= speaker.full_name %></span>
      <% if speaker.category %>
        <span class="talk-category <%=speaker.category.gsub(" ", "-")%>"><%= speaker.category %></span>
      <% end %>
      </p></a>
    <% end %>
    </article>
    <article class="schedule-item break">
      <p class="start-time"><span>11:45 AM</span>Lunch</p>
    </article>
    <article class="schedule-item talks">
      <p class="start-time"><span>12:45 PM</span>Talks</p>
      <% day_one[8..10].each do |speaker| %>
      <a href=<%= "/speakers/#{speaker.full_name.gsub(" ", "-").downcase}"%>><p class="schedule-item-title"><%= speaker.talk_title %><span
      class="speakers"><%= speaker.full_name %></span>
      <% if speaker.category %>
        <span class="talk-category <%=speaker.category.gsub(" ", "-")%>"><%= speaker.category %></span>
      <% end %>
      </p></a>
    <% end %>
    </article>
    <article class="schedule-item break">
      <p class="start-time"><span>1:30 PM</span>Afternoon Break</p>
    </article>
    <article class="schedule-item talks">
      <p class="start-time"><span>1:50 PM</span>Talks</p>
      <% day_one[11..14].each do |speaker| %>
      <a href=<%= "/speakers/#{speaker.full_name.gsub(" ", "-").downcase}"%>><p class="schedule-item-title"><%= speaker.talk_title %><span
      class="speakers"><%= speaker.full_name %></span>
      <% if speaker.category %>
        <span class="talk-category <%=speaker.category.gsub(" ", "-")%>"><%= speaker.category %></span>
      <% end %>
      </p></a>
    <% end %>
    </article>
    <article class="schedule-item break">
      <p class="start-time"><span>3:00 PM</span>Afternoon Break</p>
    </article>
    <article class="schedule-item talks">
      <p class="start-time"><span>3:20 PM</span>Talks</p>
      <% day_one[15..17].each do |speaker| %>
      <a href=<%= "/speakers/#{speaker.full_name.gsub(" ", "-").downcase}"%>><p class="schedule-item-title"><%= speaker.talk_title %><span
      class="speakers"><%= speaker.full_name %></span>
      <% if speaker.category %>
        <span class="talk-category <%=speaker.category.gsub(" ", "-")%>"><%= speaker.category %></span>
      <% end %>
      </p></a>
    <% end %>
    </article>
    <article class="schedule-item talks">
      <p class="start-time"><span>4:05 PM</span>Keynote</p>
      <% speaker = day_one[18] %>
        <a href=<%= "/speakers/#{speaker.full_name.gsub(" ", "-").downcase}"%>><p class="schedule-item-title"><%= speaker.talk_title %><span
        class="speakers"><%= speaker.full_name %></span>
        <% if speaker.category %>
          <span class="talk-category <%=speaker.category.gsub(" ", "-")%>"><%= speaker.category %></span>
        <% end %>
        </p></a>
    </article>
    <article class="schedule-item break">
      <p class="start-time"><span>5:00 PM</span></p>
      <p>Closing<span class="speakers"><a href="/speakers/nikhil-paul">Nikhil
      Paul</a></span></p>
    </article>
  </div>
  <div class="schedule-day">
    <h3>Saturday, April 22 (8AM - 5PM)</h3>
    <% workshops = data.people.speakers.select {|speaker| speaker.day == "2" &&
    speaker.talk_title && speaker.type == "workshop" } %>
    <article class="schedule-item">
      <p class="start-time"><span>8:00 AM</span>Registration & Breakfast</p>
    </article>
    <article class="schedule-item talks">
      <p class="start-time"><span>8:45 AM</span>Talks</p>
      <p>Welcome<span class="speakers"><a href="/speakers/nikhil-paul">Nikhil
      Paul</a></span></p>
    </article>
    <article class="schedule-item workshps">
      <p class="start-time"><span>9:05 AM</span>Workshops - Select one</p>
      <% workshops.each do |speaker| %>
      <% next if speaker.talk_title == "Shipping Containers" %>
      <a href=<%= "/speakers/#{speaker.full_name.gsub(" ", "-").downcase}"%>><p class="schedule-item-title"><%= speaker.talk_title %><span
      class="speakers"><%= speaker.full_name %></span>
      </p></a>
      <% end %>
      <% speaker = data.people.speakers.find {|s| s[:full_name] == "Phil Eaton" } %> 
      <p class="schedule-item-title"><%= speaker.talk_title %>
        <span class="speakers"><a href="/speakers/phil-eaton">Phil Eaton</a>,</span>
      <span class="speakers"><a href="/speakers/james-lott">James Lott</a></span>
      </p>
    </article>
    <article class="schedule-item break">
      <p class="start-time"><span>12:20 PM</span>Lunch</p>
    </article>
    <article class="schedule-item talks">
      <p class="start-time"><span>1:20 PM</span>Talks & Panel</p>
      <% speaker = data.people.speakers.find {|s| s[:day] == "2" && s[:order] ==
      "1" } %>
      <a href=<%= "/speakers/#{speaker.full_name.gsub(" ", "-").downcase}"%>><p class="schedule-item-title"><%= speaker.talk_title %><span
      class="speakers"><%= speaker.full_name %></span>
      <% speaker = data.people.speakers.find {|s| s[:day] == "2" && s[:order] ==
      "2" } %>
      </p></a>
      <a href=<%= "/speakers/#{speaker.full_name.gsub(" ", "-").downcase}"%>><p class="schedule-item-title"><%= speaker.talk_title %><span
      class="speakers"><%= speaker.full_name %></span>
      </p></a>
      <p class="schedule-item-title">Bootcamp Battle<span
      class="speakers">Dev Bootcamp, Thinkful, <a
      href="/speakers/bobby-davis">Coder Foundry</a></span>
      </p>
    </article>
    <article class="schedule-item break">
      <p class="start-time"><span>2:30 pm</span>afternoon break</p>
    </article>
    <article class="schedule-item talks">
      <p class="start-time"><span>2:50 PM</span>Open Source</p>
      <% speaker = data.people.speakers.find {|s| s[:day] == "2" && s[:order] ==
      "4" } %>
      <a href=<%= "/speakers/#{speaker.full_name.gsub(" ", "-").downcase}"%>><p class="schedule-item-title"><%= speaker.talk_title %><span
      class="speakers"><%= speaker.full_name %></span>
      </p></a>
      <p class="schedule-item-title">Do I have to do open source?<span
      class="speakers">
      <a href="/speakers/safia-abdalla">Safia Abdalla</a>,
      <a href="/speakers/bryan-liles">Bryan Liles</a>,
      <a href="/speakers/laura-gaetano">Laura Gaetano</a>,
      <a href="/speakers/carol-willing">Carol Willing</a>,
      <a href="/speakers/maria-naggaga">Maria Naggaga</a>
      </span></p>
    </article>
    <article class="schedule-item break">
      <p class="start-time"><span>3:35 PM</span>Afternoon Break</p>
    </article>
    <article class="schedule-item talks">
      <p class="start-time"><span>3:55 PM</span>Life & Career</p>
      <p class="schedule-item-title">Code-Life Balance: Can we really have it all?<span
      class="speakers">
      <a href="/speakers/ashley-jean">Ashley Jean</a>,
      <a href="/speakers/brian-douglas">Brian Douglas</a>,
      <a href="/speakers/johnny-ray-austin">Johnny Ray Austin</a>,
      <a href="/speakers/morgan-whaley">Morgan Whaley</a>,
      <a href="/speakers/allison-mcmillan">Allison McMillan</a>
      </span></p>
      <% speaker = data.people.speakers.find {|s| s[:day] == "2" && s[:order] == "7" } %>
      <a href=<%= "/speakers/#{speaker.full_name.gsub(" ", "-").downcase}"%>><p class="schedule-item-title"><%= speaker.talk_title %><span
      class="speakers"><%= speaker.full_name %></span>
      </p></a>
      <p class="schedule-item-title">Hiring Panel: How do I get the job?<span
      class="speakers">
      <a href="/speakers/andreas-fast">Andreas Fast</a>,
      <a href="/speakers/eddie-washington">Eddie Washington</a>,
      <a href="/speakers/la-vesha-parker">Vesha Parker</a>,
      <a href="/speakers/nicholas-corvino">Nick Corvino</a>
      </span></p>
    </article>
    <article class="schedule-item break">
      <p class="start-time"><span>5:00 PM</span></p>
      <p>Closing<span class="speakers"><a href="/speakers/nikhil-paul">Nikhil
      Paul</a>, Saron Yitbarek</span></p>
    </article>
  </div>
</section>
