<div class="sticker-pack" aria-hidden="true">
  <%= image_tag "rockety.png", :class => "sticker rockety" %>
  <%= image_tag "brace-yourself.png", :class => "sticker brace-yourself" %>
  <%= image_tag "contributor.png", :class => "sticker contributor" %>
  <%= image_tag "bee.png", :class => "sticker bee" %>
  <%= image_tag "she-coded_2021.png", :class => "sticker she-coded" %>
</div>
