<div class="section-container speaker-overviews">
  <% data.workshop_speakers.each do |speaker| %>
    <div class="speaker-item">
      <div class="speaker-item--profile">
        <img src="<%= speaker.image_url %>">
      </div>
      <div class="speaker-item--bio">
        <h2><%= speaker.full_name %></h2>
        <h4><%= speaker.job_title %> at <%= speaker.company %></h4>
        <p><%= speaker.bio %></p>
      </div>
    </div>
  <% end %>
</div>