<%= partial "layouts/nav" %>
<div class="speaker-page">
  <%= partial "speakers/profile" %>
  <%= partial "layouts/tickets" %>
  <%= partial "layouts/mailchimp_signup" %>
  <%= partial "layouts/footer" %>
</div>
