<div class="speaker-page">
  <%= partial "layouts/nav" %>
  <%= partial "speakers/profile" %>
  <%= partial "layouts/ticket_information" %>
  <%= partial "layouts/mailchimp_signup" %>
  <%= partial "layouts/footer" %>
</div>
