<%= partial "layouts/nav" %>
<div class="speaker-page">
  <%= partial "speakers/profile" %>
  <%# <%= partial "layouts/tickets" %1> %>
  <%= partial "layouts/mailchimp_signup" %>
  <%= partial "layouts/footer" %>
</div>
